.main__popup__containerImgQuest {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: end;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px; /* 20px */
}

.main__popup__containerImgQuest__popup {
  border-radius: 20px; /* 20px */
  width: 865px; /* Примерно 865px */
  height: 308px; /* Примерно 308px */
  background: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Применение анимации при открытии */
.main__popup__containerImgQuest.fade-in {
  animation: fadeIn 0.7s forwards;
}

.main__popup__containerImgQuest.fade-out {
  animation: fadeOut 0.7s forwards;
}

/* Применение анимации для окна */
.main__popup__containerImgQuest__popup.slide-up {
  animation: slideUp 0.7s forwards;
}

.main__popup__containerImgQuest__popup.slide-down {
  animation: slideDown 0.7s forwards;
}

.main__popup__containerImgQuest__popup__img {
  width: 248px; /* Примерно 248px */
  height: 248px; /* Примерно 248px */
  object-fit: contain;
}

.main__popup__containerImgQuest__popup__containerText {
  width: 356px; /* Примерно 356px */
  height: 248px; /* Примерно 248px */
  margin-left: 20px; /* Примерно 20px */
}

.main__popup__containerImgQuest__popup__containerText__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px; /* Примерно 25px */
  color: #fff;
}

.main__popup__containerImgQuest__popup__containerText__subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  margin-top: 10px; /* Примерно 10px */
  font-size: 20px; /* Примерно 20px */
  color: rgba(255, 255, 255, 0.5);
}

.main__popup__containerImgQuest__popup__containerBtn {
  height: 248px; /* Примерно 248px */
  width: 152px; /* Примерно 152px */
  display: flex;
  align-items: end;
  margin-left: 29px; /* Примерно 29px */
}

.main__popup__containerImgQuest__popup__containerBtn__btn {
  cursor: pointer;
  background: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px; /* Примерно 50px */
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.main__popup__containerImgQuest__popup__containerBtn__btn__img {
  width: 31px; /* Примерно 31px */
  height: 50px; /* Примерно 50px */
}
