@keyframes opIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes widthOut {
  from {
    width: 1394px;
    height: 784px;
  }
  to {
    width: 865px;
    height: 576px;
  }
}

.admin__popup.fade-out {
  animation: widthOut 0.7s ease-in-out forwards;
  animation-delay: 1s;
}

.admin__start.fade-in {
  animation: opIn 0.7s ease-in-out forwards;
}

.admin__start.fade-out {
  animation: opOut 0.7s ease-in-out forwards;
}

.admin {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.admin__popup {
  border-radius: 20px;
  width: 1394px;
  height: 784px;
  background: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.admin__start {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin__start__header {
  width: 1334px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}

.admin__start__header__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.admin__start__header__title span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 60px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 26px;
}

.admin__start__header__btn {
  width: 281px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #e74b4b;
}

.admin__start__header__btn__img {
  width: 30px;
  height: 30px;
}

.admin__start__btns {
  width: 1334px;
  height: 50px;
  margin-top: 23px;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.admin__start__btns__input {
  border-radius: 140px;
  width: 971px;
  height: 50px;
  background: #242424;
  margin: 0;
  padding-left: 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.admin__start__btns__input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
}

.admin__start__btns__new {
  border-radius: 140px;
  width: 234px;
  height: 50px;
  background: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin__start__btns__new__img {
  width: 30px;
  height: 30px;
}

.admin__start__btns__new__span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
}

.admin__start__btns__person {
  border-radius: 140px;
  width: 180px;
  height: 50px;
  background: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin__start__btns__person__img {
  width: 30px;
  height: 30px;
}

.admin__start__btns__person__span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
}

.admin__start__cards {
  padding-bottom: 30px;
  overflow-x: auto;
  margin-top: 30px;
  width: 1334px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.admin__start__cards__card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 662px;
  height: 185px;
  background: #242424;
  display: flex;
  align-items: center;
}

.admin__start__cards__card__conimg {
  position: absolute;
  left: 0;
  top: 0;
  width: 190px;
  height: 185px;
  background: linear-gradient(90deg, rgba(36, 36, 36, 0) 0%, #242424 100%);
}

.admin__start__cards__card__img {
  width: 190px;
  height: 185px;
}

.admin__start__cards__card__opcon {
  width: 382px;
  height: 145px;
  margin-left: 30px;
  text-align: left;
}

.admin__start__cards__card__opcon__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.admin__start__cards__card__opcon_op {
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
  gap: 30px;
}

.admin__start__cards__card__opcon_op__containerone {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin__start__cards__card__opcon_op__containerone__text {
  display: flex;
  align-items: center;
  width: 139px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-self: center;
}

.admin__start__cards__card__opcon_op__containerone__text__span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 10px;
}

.admin__start__cards__card__opcon_op__containerone__text__img {
  width: 30px;
  height: 30px;
}

.admin__start__cards__card__opcon_op__containertwo {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin__start__cards__card__opcon_op__containertwo__text {
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.admin__start__cards__card__opcon_op__containertwo__text__img {
  width: 30px;
  height: 30px;
}

.admin__start__cards__card__opcon_op__containertwo__text__span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 10px;
  width: 175px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.admin__start__cards__card__opcon_op__containertwo__text__span__diff {
  margin-left: 5px;
  display: block;
  border-radius: 60px;
  width: 86px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin__start__cards__card__opcon__btns {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.admin__start__cards__card__opcon__btns__btn {
  background: #414141;
  border-radius: 140px;
  padding: 6px 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

/**/
.admin__copyrite {
  width: 247px;
  height: 52px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  z-index: 1;
  gap: 14px;
}

.admin__copyrite__img {
  width: 212px;
  height: 22px;
}

.admin__copyrite__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.2);
}
