
@keyframes opIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes fadeOut {
  from {
    background: rgba(0, 0, 0, 0.5);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

/* Анимация всплывающего окна */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes slideUpImg {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slideDownImg {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}


.main__start.fade-in {
  animation: opIn 0.7s ease-in-out forwards;
}

.main__start.fade-out {
  animation: opOut 0.7s ease-in-out forwards;
}

.main__loading.fade-in {
  animation: opIn 0.7s forwards;
}

.main__loading.fade-out {
  animation: opOut 0.7s forwards;
}

.main__imgs__op.slideDownImg {
  animation: opIn 0.5s forwards;
}

.main__imgs__op.slideUpImg {
  animation: opOut 0.5s forwards;
}

.main__err.fade-in {
  animation: opIn 0.7s forwards;
}

.main__err.fade-out {
  animation: opOut 0.7s forwards;
}

.main__imgs__img.slideDownImg {
  animation: slideDownImg 0.5s forwards;
}

.main__imgs__img.slideUpImg {
  animation: slideUpImg 0.5s forwards;
}

.main__loading__err.fade-in {
  animation: opIn 0.7s forwards;
}


.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.main__popup {
  border-radius: 20px;
  width: 865px;
  height: 576px;
  background: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}


.main__popup_vis{
  border-radius: 20px;
  width: 865px;
  height: 576px;
  background: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: visible;
}

.main__popup__containerTitle {
  width: 805px; /* Примерно 805px на экране 1920px */
  height: 224px; /* Примерно 189px на экране 1080px */
  display: flex;
  justify-content: space-between;
  margin-top: 30px; /* 30px */
}

.main__popup__containerTitle__con__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 50px; /* Примерно 50px на экране 1920px */
  color: #fff;
  width: 424px; /* Примерно 424px */
}

.main__popup__containerTitle__con__subtitle {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px; /* Примерно 20px */
  color: rgba(255, 255, 255, 0.5);
}

.main__popup__containerTitle__navlink {
  width: 227px; /* Примерно 227px */
  height: 30px; /* Примерно 30px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px; /* Примерно 14px */
  color: #2bc6b3;
}

.main__popup__containerTitle__navlink__img {
  width: 30px; 
  height: 30px;
}

.main__popup__containerInput {
  width: 804px;
  height: 50px;
  margin-top: 182px; /* Примерно 182px */
  display: flex;
  justify-content: space-between;
}

.main__popup__containerInput__input {
  border-radius: 140px; /* 140px */
  width: 665px; /* Примерно 665px */
  height: 50px; /* Примерно 50px */
  background: #242424;
  padding-left: 30px; /* Примерно 30px */
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px; /* Примерно 14px */
  color: #fff;
}

.main__popup__containerInput__input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px; /* Примерно 14px */
  color: rgba(255, 255, 255, 0.2);
}

.main__popup__containerInput__btn {
  cursor: pointer;
  border-radius: 140px; /* 140px */
  width: 108px; /* Примерно 108px */
  height: 50px; /* Примерно 50px */
  background: #fff;
}

.main__popup__containerInput__btn__img {
  width: 31px;
  height: 30px;
}

.main__popup__containerBtns {
  width: 805px; /* Примерно 805px */
  height: 30px; /* Примерно 30px */
  display: flex;
  justify-content: space-between;
  margin-top: 30px; /* 30px */
}

.main__popup__containerBtns__title {
  width: 398px; /* Примерно 398px */
  height: 30px; /* Примерно 30px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px; /* Примерно 14px */
  color: rgba(255, 255, 255, 0.2);
}

.main__popup__containerBtns__title__img {
  width: 30px; /* 30px */
  height: 30px; /* 30px */
}

.main__popup__containerBtns__btn {
  width: 141px; /* Примерно 141px */
  height: 30px; /* Примерно 30px */
  background: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px; /* Примерно 14px */
  color: #e74b4b;
}

.main__popup__containerBtns__btn__img {
  width: 31px; /* Примерно 31px */
  height: 30px; /* Примерно 30px */
}

.main__copyrite {
  width: 247px;
  height: 52px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  z-index: 1;
  gap: 14px;
}

.main__copyrite__img {
  width: 212px;
  height: 22px;
}

.main__copyrite__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.2);
}
