@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

body {
	background: #181818;
	padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
	--teal-dark-1: #0d1514;
	--teal-dark-2: #121c1b;
	--teal-dark-3: #0d2d2a;
	--teal-dark-4: #043b35;
	--teal-dark-5: #0b4841;
	--teal-dark-6: #16574f;
	--teal-dark-7: #1d6960;
	--teal-dark-8: #207e73;
	--teal-dark-9: #12a594;
	--teal-dark-10: #0eb39e;
	--teal-dark-11: #0bd8b6;
	--teal-dark-12: #adf0dd;
	--jade-dark-1: #0d1512;
	--jade-dark-2: #121c18;
	--jade-dark-3: #0f2e22;
	--jade-dark-4: #0b3b2c;
	--jade-dark-5: #114837;
	--jade-dark-6: #1b5745;
	--jade-dark-7: #246854;
	--jade-dark-8: #2a7e68;
	--jade-dark-9: #29a383;
	--jade-dark-10: #27b08b;
	--jade-dark-11: #1fd8a4;
	--jade-dark-12: #adf0d4;
}


:root {
  --font-family: "Geologica", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Jost", sans-serif;
}

*{
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}


.disabled{
  overflow: hidden;
  opacity: 0;
  display: none;
  visibility: hidden;
}

button{
	cursor: pointer;
}

button:hover{
	opacity: 0.8;
}